extends layout

block content

  h1= title
  p Welcome to #{title}
  br
  form(action="/new", method="post")
    h3 Add new message
    div(classname='form' style="display:flex;flex-direction:column;gap:10px")
      label Author:
      input(type="text" name="messageUser" style="width:150px;height:25px")
      label Message:
      input(type="text" name="messageText" style="width:300px;height:25px;")
      br
      br
      button(type="submit" style="width:140px;height:45px") Submit message



      
  
